.nav {

    list-style: none;

    padding-left: 0;

    width: 50%;

    margin: auto;

    text-align: center;
}

.nav>li {
    border-style: ridge;
    border-radius: 10px;

    display: inline-block;

    background-color: red;

    font-size: 6vh;

   
}

body{


    background: url(images/joseph\ stalin\ 1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

h1.pagetitle{
    font-size: 6vh;
    color: white;
    background-color: red;
    text-align: center;
    margin-top: 20vh;


}