.nav {

    list-style: none;

    padding-left: 0;

    width: 50%;

    margin: auto;

    text-align: center;
    
}


.nav>li {
    border-style: ridge;
    border-radius: 10px;

    display: inline-block;

    background-color: red;

    font-size: 6vh;

   
}

body{


    background: url(images/joseph\ stalin\ 1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

h1.pagetitle{
    font-size: 6vh;
    color: rgb(85, 255, 0);
    background-color: red;
    text-align: center;
    margin-top: 20vh;


}

.phrase{
    font-size: 3vh;
    text-align: center;
    color: gold;
    background-color: red;
    margin-left: 45vh;
    margin-right: 45vh;
}

.foodlist{
    list-style: none;
    font-size: 4vh;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: red;
    color: yellow;
    
}

img{
    width: 45vw;
}

